<h1>Song Show Page </h1>
<h1>Song Name: <%= link_to @song.title, song_path(@song) %></h1>
<h1>Artist Name: <% </h1>
<%= display_artist (@song) %>
<%#= link_to @song.artist.name, artist_path(@song) %>


<h4>Main Menu: <%= link_to "All Songs", songs_path %></h4>

<%#= @song.artist_name %>